* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piano-container{
  display: flex;
}

.key{
  background-color: #fff;
  color: black;
  height: 300px;
  width: 100px;
  padding: 20px;
  box-shadow: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-size: 40px;

  border: 1px solid black;
  cursor: pointer;

  transition: all 0.1s ease;
}

.key.active{
  scale: 0.9;
}

.keyboard{
  opacity: 0.5;
}

