*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, 
body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
} 

.card{
    width: 300px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.img-box{
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

h1, h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    white-space: nowrap;
}

h2{
    font-size: 30px;
    color: red;
}

.card p{
    text-align: center;
    font-size: 20px;
}