*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, 
body{
    height: 100%;
    width: 100%;
}

body{
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.card{
    width: 350px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.img-box{
    overflow: hidden;
}

.card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

h1{
    text-align: center;
    font-size: 40px;
}

.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGn7i8HxrpfCFjUda-pKakvnrbwz5Q83F73g&s");
    opacity: 0;
    -webkit-background-clip: text;
    color: transparent;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    font-size: 80px;
    transition: all cubic-bezier(.85,1.46,.1,.17) 0.2s;
}