*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #111;
    color: white;
}

main h1{
    font-size: 100px;
}

.btn {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    background-color: royalblue;
    color: white;
    font-size: 40px;
    border-radius: 10px;
    cursor: pointer;
}