*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, 
body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
} 

#box{
    background-color: crimson;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    border: 2px, solid white;
}

button{
    padding: 10px 20px;
    color: white;
    background-color: royalblue;
    border-radius: 8px;
    font-size: 50px;
    cursor: pointer;
}

button:active{
    scale: 0.9;
}